@page
@model ProyectoCiclo3.App.Frontend.Pages.ListBusModel
@{
}

<h1>Listado de Buses</h1>
<table class="table table-bordered border-success">
  <thead class="table-dark">
    <td>ID</td>
    <td>MARCA</td>
    <td>MODELO</td>
    <td>KILOMETRAJE</td>
    <td>NRO ASIENTOS</td>
    <td>PLACA</td>
    <td>ACCIONES</td>
  </thead>
  @foreach (var bus in Model.Buses)
  {
    <tr class="table-secondary">
      <td style="text-align:center">@bus.id</td>
      <td style="text-align:center">@bus.marca</td>
      <td style="text-align:center">@bus.modelo</td>
      <td style="text-align:center">@bus.kilometraje</td>
      <td style="text-align:center">@bus.numero_asientos</td>
      <td style="text-align:center">@bus.placa</td>
      <td  style="text-align:center">
        <a class="btn btn-info" asp-page="./Details" asp-route-busId="@bus.id"><i class="fas fa-adjust"></i>Ver</a>
        <a class="btn btn-warning" asp-page="./Edit" asp-route-busId="@bus.id">Editar</a>
        <a class="btn btn-danger" href="">Eliminar</a>
      </td>
    </tr>
  }
</table>
